#container {
    width: 499px;
    height: 709px;
    background: white;
    margin: auto;
}

.text-component {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: white;
    margin: 10px;
    border: 2px solid transparent;
}

.project-component:hover img, .demo-component:hover img, .text-component:hover, .photo-component img:hover, .background-component img:hover {
    border: 2px solid var(--primary);
}

.project-component, .demo-component, .text-component, .background-component, .photo-component {
    padding: 1rem 2rem !important;
}

.project-component img, .demo-component img, .background-component img, .photo-component img {
    width: 100%;
    box-shadow: 0 0 5px rgba(16, 22, 26, 0.3);
    border-radius: 5px;
}